<h1 class="h1">Cars</h1>

<p *ngIf="errorMessage">ERROR: {{errorMessage}}</p>

<input [disabled]="loading" type="text" [(ngModel)]="make" placeholder="Make"/>
<button [textContent]="'Search'" [disabled]="loading" (click)="getCars()" ></button>
<button class="reset" [textContent]="'Reset'" [disabled]="loading" (click)="reset()" ></button>

<p *ngIf="loading">Loading...</p>

<table *ngIf="!loading">
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
    </tr>
  </thead>
  <tbody *ngIf="cars">
    <tr *ngFor="let car of cars">
      <td>{{car.make}}</td>
      <td>{{car.model}}</td>
    </tr>
  </tbody>
  <tbody *ngIf="!cars">
    <tr>no cars found</tr>
  </tbody>
</table>
